<div class="container">
  <div class="py-5 text-center">
    <h2>Checkout form</h2>
    <p class="lead">
      Thank you for your purchase. We hope your pet will enjoy it.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{ items.length }}</span>
      </h4>
      <ul class="list-group mb-3">
        <li
          class="list-group-item d-flex justify-content-between lh-condensed"
          *ngFor="let i of items"
        >
          <div>
            <h6 class="my-0">{{ i.getProduct().name }}</h6>
            <small class="text-muted">{{ i.getProduct().description }}</small>
          </div>
          <span class="text-muted">{{ i.getProduct().price }} EUR</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (EUR)</span>
          <strong>{{ getSum() }}</strong>
        </li>
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      Form with validation and submit button in progress.
    </div>
  </div>
</div>
