app-product-detail .p-d-custom-desc {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

app-product-detail .p-d-custom-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
